/* ======================= FAQs ========================== */
.container1 {
    width: 80%;;
    margin: 0 auto;
}

.faqs {
    /* background: var(--color-bg1); */
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: blue;
    cursor: pointer;
    border-radius: 25px;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
}

.faq__1con {
    align-self: flex-start;
    font-size: 1.2rem;
}

/* .faq p {
    margin-top: 0.8rem;
    display: none;
} */

.faq.open p {
    display: block;
}


@media screen and (max-width: 1024px) {
    .faqs__container {
        grid-template-columns: 1fr;
    }

    .faq {
        padding: 1.5rem;
    }
}